*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;

}

a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
#overflow{
	overflow: hidden;
}


/*header par start*/

#header{
	float: left;
	width: 100%;
	background: url(../images/header-bg.jpg);
	padding: 30px 0 50px; 
}

.logo{
	float: left;
	margin-top: 30px;

}
.logo img{
	height: 35px;
}
.hotline{
	margin-top: 30px;
	margin-bottom: 10px;
	float: right;
}
.hotline img{
	width: 35px;
}
.hotline span{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;

}
.menu{
	width: 100%;
	margin-top: 10px;
	float: right;
}
.menu ul{
	float: right;
}
.menu ul  a li{
	float: left;
	text-decoration: none;
	padding: 10px 0px 25px 40px;
	list-style: none;
	color: #3d2514;
	letter-spacing: 3px;
	font-size: 16px;
	transition: .6s ease;
	text-transform: uppercase;
	font-family: 'Bebas Neue', cursive;
}
.menu ul  a li:hover{
	color: #fff;
}

.home-slider{
	float: left;
	width: 100%;
}
.home-caption{
	margin-top: 50px;
	float: left;
	width: 100%;
}
.home-caption p{
	float: left;
	padding: 5px;
	font-size: 14px;
	border: 1px #3d2514 dashed ;
	font-family: 'Montserrat', sans-serif;

}
.home-caption h1{
	float: left;
	font-size: 80px;
	font-family: 'Alfa Slab One', cursive;
	color: #3d2514;
	text-shadow: 2px 2px #fff;
}
.home-caption h1 span{
	float: left;
	font-size: 50px;
	font-family: 'Alfa Slab One', cursive;
	color: #3d2514;
	text-shadow: 2px 2px #fff;
}

.burger{
	position: relative;
	float: left;
	width: 100%;
}
.burger img{
	float: left;
	width: 100%;
	/*margin-top: -20px;*/
	transition: .6s;
}
.burger img:hover{
	transform: translateY(-50px);
}
.burger-price{
	top: 65%;
    right: 0;
    left: 70px;
    bottom: 58%;
    position: absolute;
    background: #d91f1f;
    border-radius: 50%;
    width: 100px;
    height: 100px;
  	border: 1px dashed #fff;
  	box-shadow: 0 0 0 5px #d91f1f;
}
.burger-price p{
	position: absolute;
	top: 10%;
	left: 25px;
	font-size: 30px;
	color: #fff;
	font-family: 'Bebas Neue', cursive;
}
.burger-price span{
	position: absolute;
	top: 55%;
	left: 25px;
	right:0;
	font-size: 20px;
	letter-spacing: 5px;
	color: #fff;
	font-family: 'Bebas Neue', cursive;
}


/*home-demo part strat*/

#home-demo{
	float: left;
	width: 100%;
	padding: 70px 0;
}
.home-demo{
	float: left;
	width: 100%;
}
.demo-burger{
	float: left;
	width: 100%;
	position: relative;
}
.demo-burger img{
	float: left;
	width:100%;
}
.demo-text{
	position: absolute;
    top: 6%;
    left: 5%;
    right: 0%;
    color:#fff;
}
.demo-text h3{
	font-size: 19px;
	font-family: 'Bebas Neue', cursive;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}
.demo-text h2{
	font-size: 30px;
	font-family: 'Bebas Neue', cursive;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.demo-burger2{
	float: left;
	width: 100%;
	position: relative;
}
.demo-burger2 img{
	float: left;
	width:100%;
}
.demo-text2{
	position: absolute;
    top: 6%;
    left: 7%;
    right: 0%;
    color:#fff;
}
.demo-text2 h3{
	font-size: 19px;
	font-family: 'Bebas Neue', cursive;
	text-transform: uppercase;
	margin: 0;
	padding: 0;

}
.demo-text2 h2{
	font-size: 30px;
	font-family: 'Bebas Neue', cursive;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	line-height: 90%;
}
.demo-text2 h2 span{
	font-size: 30px;
	font-family: 'Bebas Neue', cursive;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	line-height: -20px;
}
.demo-burger3{
	float: left;
	width: 100%;
	margin: 30px 0 0;
	position: relative;
}
.demo-burger3 img{
	float: left;
	width:100%;
}
.demo-text3{
	position: absolute;
    top: 61%;
    left: 7%;
    right: 0%;
    color:#fff;
}
.demo-text3 h3{
	font-size: 19px;
	font-family: 'Bebas Neue', cursive;
	text-transform: uppercase;
	margin: 0;
	padding: 0;

}
.demo-text3 h2{
	font-size: 30px;
	font-family: 'Bebas Neue', cursive;
	text-transform: uppercase;
	margin: 0;
	padding: 0;

}


/*home-product*/

#home-product{
	float: left;
	width: 100%;
	padding: 50px 0;
}
.home-product{
	float: left;
	width: 100%;
	text-align: center;
}
.home-product h3{
	font-family: 'Bebas Neue', cursive;
	background: #ffc045;
	display: inline-block;
	padding: 7px;
	font-size: 18px;
}
.home-product h2{
	font-family: 'Alfa Slab One', cursive;
	text-transform: uppercase;
	color: #3d2514;
	padding: 15px 0;
	font-size: 40px;
}
.home-product p{
	font-family: 'Montserrat', sans-serif;
	padding: 5px 20px;
	font-size: 14px;
}
.burger-box{
	float: left;
	width: 100%;
	text-align: center;
	padding: 20px 0;
}
.burger-box img{
	float: left;
	width: 100%
}
.burger-box h2{
	font-size: 26px;
	font-family: 'Bebas Neue', cursive;
	color: #3d2514;
}
.burger-box p{
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	padding: 10px;
}
.burger-box a{
	font-size: 13px;
	letter-spacing: 1px;
	background:#d91a1a;
	padding: 12px 20px;
	color: #fff;
	text-decoration: none;
	transition: .6s;
	font-family: 'Alfa Slab One', cursive;

}
.burger-box a:hover{
	background: #a91e1e;
	color: #fff;
	text-decoration: none;
}


/*slide part start*/

#slide{
	float: left;
	width: 100%;
	padding: 50px 0;
}
.slide-itme{
	float: left;
	width: 100%;
	padding: 20px;
	background: #fff;
	box-shadow: 0 10px 15px 0 rgba(0, 0, 0,0.3);
	position: relative;

}

.slide-content{
	float: left;
	width: 50%;
	padding:10px 20px;

}
.slide-content h3{
	font-size: 16px;
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 2px;
	text-transform: uppercase;	
	margin: 0;
	padding: 0;

}
.slide-content h2{
	font-size: 35px;
	font-family: 'Alfa Slab One', cursive;
	margin: 0;
	color: #3d2514;
	text-transform: uppercase;
	padding: 0;
}
.slide-content p{
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px 40px 0 0;
	color: #505050;
}
.slide-img{
	float: left;
	width: 50%;
	background: #000;
}
.slide-img img{
	float: left;
	width: 100%;

}
.our-bullet{
	position: absolute !important;
	bottom: 70px !important;
	display: flex !important;
	left: -83%!important;;

}
.our-bullet li{ 
	height: 12px!important;
	list-style: none!important;
	margin-right: 10px!important;
	width: 12px!important;
	background: #c0bebe!important;
	border: 2px #c0bebe solid!important;
	border-radius: 50%!important;
	opacity: 1!important;

}
.our-bullet li.active{ 
	height: 12px!important;
	list-style: none!important;
	margin-right: 10px!important;
	width: 12px!important;
	background: #ffc045!important;
	border: 2px #ffc045 solid!important;
	border-radius: 50%!important;
	
}


/*book part satrt
*/

#book{
	float: left;
	width: 100%;
}
.book{
	float: left;
	width: 100%;
	position: relative;
}
.book-left{
	position: absolute;
	top: 0;
	bottom: 0;
}
.book-left img{
	height:300px;
}
.img2{
	left: 41%;
    position: absolute;
    top: 30%;
    bottom: 0;
}
.book-right{
	position: absolute;
	top: 200px;
	bottom: 0;
	right: 0;
}
.book-right img{
	width: 200px;
}
.book-table{
	text-align: center;
	
	
}
.book-control{
	padding: 50px 0;

}
.book-table h3{
	font-size: 20px;
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 2px;
	text-transform: uppercase;	

}
.book-table h2{
	font-size: 35px;
	font-family: 'Alfa Slab One', cursive;
	margin: 0;
	color: #3d2514;
	text-transform: uppercase;
	padding: 0;
}

.contact-us{
	float: left;
	width: 450px;
	padding:50px;
	margin:1px 0  0 150px;
	align-items: center;
	position: relative;
}

.form,
.form-items{
	width: 100%;
}

.form-items .input{
	float: left;
    width: 90%;
    margin-bottom: 12px;
    padding: 10px 40px;
    box-sizing: border-box;
    background: #fff;
    outline: none;
    border: 1px #9e9e9e solid;
    border-radius: 5px;

}

.email .output{
	float:left;
	width: 90%;
	margin: -58px 340px;
	margin-bottom: 12px;
	padding: 10px 40px;
	box-sizing: border-box;
	background:#fff;
	outline: none;
	border: 1px #9e9e9e solid;
	border-radius: 5px;

}

.contact-us a{
	float:left;
	width: 90%;
	margin: -58px 340px;
	margin-bottom: 12px;
	padding: 10px 40px;
	box-sizing: border-box;
	background:red;
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	outline: none;
	border: 1px #ddd solid;
	border-radius: 5px;
	font-family: 'Bebas Neue', cursive;

}
.contact-us a:hover{
	color: #fff;
	text-decoration: none;

}

/*start fotter*/

#fotter{
	float: left;
	width: 100%;

}
.fotter{
	float: left;
	width: 100%;
	margin: 30px 0;
	background: url(../images/fotterbackground.jpg) ;
	/*background-size: cover;*/

}
.fotter-left{
	padding: 60px 60px 20px;
	color: #fff;
}
.fotter-left img{
	width: 350px;
	padding-bottom: 20px;
}
.fotter-left p{
	font-size: 15px
	color: #cecece;
	padding: 40px 0 100px;
	font-family: 'Montserrat', sans-serif;

	
}
.fotter-left h3{
	font-size: 14px;
    color: #cecece;
    padding: 10px 0; 
    font-weight: bold;
	
}
.fotter-right {
	float: left;
    left: 22%;
    position: relative;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.fotter-right i{
	color: #fff;
	font-size: 20px;
	padding: 10px 20px;
	
}
.fotter-right span{
	color: #fff;
	font-size: 16px;
	padding: 10px 0;
	font-family: 'Bebas Neue', cursive;
	
}
.footer-icone {
    float: left;
    margin-top: 403px;
    margin-left: 120px;
}
.footer-icone i {
    margin: 5px;
    text-align: center;
    color: #333;
    height: 22px;
    font-size: 15px;
    width: 22px;
    padding: 4px;
    border-radius: 100%;
    background: #fff;
}



